html, body {
    height: 100%;
}
body {
    padding-top: 70px;
    margin: 0;
    /*padding: 0;*/
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Arial';
}

.container {
    /*text-align: center;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.content {
    text-align: center;
    min-height: 500px;
    display: inline-block;
}

.title {
    font-size: 48px;
}

.space-line{
    padding-top: 20px;
}
